# Build Output
build*/
dist/

# Running data
model_config.local.json
data/
*.log

# Program todo list
todo.md

# AI Assistant Config
AGENTS.md
CLAUDE.md

# Review and Replies
review.md
review_reply.md
review_reply_confirm.md
